@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: 'Noto Sans JP', sans-serif;
  background: url("/img/bg-main.png");
  width: 5433px;
  height: 3340px;
}

.content {
  background: url("/img/bg.png");
}

.header {
  margin-top: 1000px;
}

.header__logo img {
  padding: 250px 0 0 0;
}

.header__menu {
  font-size: 37px;
  font-weight: bold;
  border: 1px solid red;
}

.header__menu-text {
  margin: 50px 210px 0 235px;
  display: inline-block;
  margin-right: 650px;
}

.header__menu-text a {
  color: #191d4a;
}

.header__menu-text span {
  padding: 20px;
}

.header__menu-text span:hover {
  color: #e6e7fd;
  background-color: #191d4a;
  padding: 20px;
  border-radius: 45px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header__login {
  display: inline-block;
  margin: 0 150px 0 150px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__login span {
  color: #191d4a;
  padding: 20px;
}

.header__login span:hover {
  color: #e6e7fd;
  background-color: #191d4a;
  padding: 20px;
  border-radius: 45px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header__link {
  display: inline-block;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-left: 150px;
}

.container {
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
