@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: 'Noto Sans JP', sans-serif;
  background: url("/img/bg-main.png");
  width: 5433px;
  height: 3890px;
}

.content {
  background: url("/img/bg.png");
}

.header {
  margin-top: 1000px;
}

.header__logo img {
  padding: 250px 0 0 0;
}

.header__menu {
  font-size: 57px;
  font-weight: bold;
  line-height: 30px;
}

.header__menu-text {
  margin: 50px 210px 0 235px;
  display: inline-block;
  margin-right: 650px;
}

.header__menu-text a {
  color: #191d4a;
}

.header__menu-text span {
  padding: 20px;
}

.header__menu-text span:hover {
  color: #e6e7fd;
  background-color: #191d4a;
  padding: 20px;
  border-radius: 45px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header__login {
  display: inline-block;
  margin: 0 150px 0 150px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__login span {
  color: #191d4a;
  padding: 20px;
}

.header__login span:hover {
  color: #e6e7fd;
  background-color: #191d4a;
  padding: 20px;
  border-radius: 45px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header__link {
  display: inline-block;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-left: 150px;
}

.container {
  background: url("/img/bg.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-main {
  margin: 516px 0 0 0;
  width: 5430px;
  max-height: 0px;
  line-height: -09px;
}

.content-main__title {
  margin-left: 520px;
  font-size: 67px;
  font-weight: bold;
}

.content-main__title p {
  color: #191d4a;
}

.content-main__text {
  font-size: 338px;
  width: 1937px;
  height: 1032px;
  letter-spacing: -8.18px;
  margin-left: 520px;
}

.content-main__text span {
  color: #191d4a;
}

.content-main__btn {
  font-size: 67px;
  margin-top: 272px;
  font-weight: bold;
  margin-left: 520px;
}

.content-main__btn a {
  color: #191d4a;
  letter-spacing: -1.68px;
  padding: 83px 67px 87px 77px;
  border-radius: 50px;
  background: url("/img/ICON-ARROW-MAIN.png") right no-repeat, #e6e7fd;
}

.content-main__btn span {
  margin-right: 30px;
}

.content-main__btn-down {
  margin-left: 520px;
  padding: 210px 30px 30px 230px;
  background-color: #e6e7fd;
  width: 530px;
  height: 400px;
}

.content-main__left {
  width: 300px;
  overflow: hidden;
}

.content-main__left-author {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  margin-bottom: 100px;
}

.content-main__left-author span {
  font-size: 67px;
  font-weight: bold;
  color: #191d4a;
}

.content-main__left-media li {
  margin-bottom: 170px;
}

.content-main__right {
  position: absolute;
  -webkit-transform: translate(2520px, 598px);
          transform: translate(2520px, 598px);
}

.content-main__right-img img {
  width: 2900px;
  height: 2715px;
}
