@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

$color1: #191d4a;
$color2: #ffff;
$color3: #e6e7fd;

body{
  font-family: 'Noto Sans JP', sans-serif;
  background: url('/img/bg-main.png');
  width: 5433px;
  height: 3890px;
}

.content{
  background: url('/img/bg.png');
}

.header {
  margin-top: 1000px;

  &__logo {
    img{
      padding: 250px 0 0 0;
    }
  }

  &__menu {
    font-size: 57px;
    font-weight: bold;
    border: 1px solid red;
    line-height: 30px;
  }

		&__menu-text {
      margin: 50px 210px 0 235px;
      display: inline-block;
      margin-right: 650px;
      
      a{
        color: $color1;
      }

      span{
        padding: 20px;
        &:hover{
          color: $color3;
          background-color: $color1;
          padding: 20px;
          border-radius: 45px;
          transition-duration: 0.5s;
        }
      }
		}



  &__login {
    display: inline-block;
    margin: 0 150px 0 150px;
    flex-direction: row;

    span{
      color: $color1;
      padding: 20px;

      &:hover{
        color: $color3;
        background-color: $color1;
        padding: 20px;
        border-radius: 45px;
        transition-duration: 0.5s;

      }
    }
  }

  &__link{
    display: inline-block;
    justify-content: right; //TODO: Доделать кнопки: позицию и анимацию
    margin-left: 150px;
  }
}
.container {  
// border: 1px solid red;
background: url('/img/bg.png');

display: flex;
flex-direction: column;
}

.content-main {
  margin: 516px 0 0 0;
  width: 2460px;
  max-height: 0px;
  line-height: -09px;
  // background-color: $color3;

  &__title {
    margin-left: 520px;
    font-size: 67px;
    font-weight: bold;

    p{
      color: $color1;
    }
  }

  &__text {
    border: 1px solid $color1;
    font-size: 327px;
    width: 1937px;
    height: 1032px;
    letter-spacing: -8.18px;
    margin-left: 520px;

    span{
      color: $color1;
    }
  }

  &__btn {
    font-size: 67px;
    margin-top: 272px;
    font-weight: bold;
    margin-left: 520px;

    a{
      color: $color1;
      letter-spacing: -1.68px;
      padding: 83px 67px 87px 77px;
      border-radius: 50px;
      background: url('/img/ICON-ARROW-MAIN.png') right no-repeat, $color3;
    }

    span{
      margin-right: 30px;
    }
  }

  &__btn-down{
    margin-left: 520px;
    padding: 210px 30px 30px 230px;
    background-color: $color3;
    width: 530px;
    height: 400px;
  }

	&__left {
      width: 300px;
      // background: url('/img/bg.png');
      // background-color: $color1;
      overflow: hidden;
		}

	&__left-author {
      writing-mode: vertical-lr;
      margin-bottom: 100px;
      span{
        font-size: 67px;
        font-weight: bold;
        color: $color1;
      }
		}

	&__left-media {
      li{
        margin-bottom: 170px;
      }
		}
}





